
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person</title>
</head>
<body>
    <div align="center">
        Name : @ViewData["name"] <br />
        User Name : @ViewData["username"] <br />
        Password : @ViewData["password"] <br />
        Confirm Password : @ViewData["confirmpassword"] <br />
        Date Of Birth : @ViewData["dob"] <br />
        Blood Group : @ViewData["bloodgroup"] <br />
        Gender : @ViewData["gender"] <br />
        Profile Picture : @ViewData["profilepicture"] <br />
        Terms &Aacute; Conditions : @ViewData["tac"] <br />
    </div>
</body>
</html>
